<nav class="pagination" role="navigation">
    
    <a class="newer-posts {{#if prev}}visible{{/if}}" href="{{page_url prev}}">Prev</a>

    <span class="page-number">Page <b>{{page}}</b> of <b>{{pages}}</b></span>
    
    <a class="older-posts {{#if next}}visible{{/if}}" href="{{page_url next}}">Next</a>
    
</nav>

<div class="post-divider"></div>