/**
 *
 * Summary:
 *
 *	0. GENERAL
 *	1. HEADER
 *  	- 1.1. NAME
 *  	- 1.2. NAVIGATION
 *	2. POST
 *		- 2.1. GENERAL
 *		- 2.2. SHORT
 *		- 2.3. LONG
 *	3. FOOTER
 * 		- 3.1. PAGINATION
 * 		- 3.1. MAIN FOOTER
 *	4. TAG PAGE
 *	5. AUTHOR PAGE
 */


/* ==========================================================================
   0. GENERAL
   ========================================================================== */

* {
	box-sizing: border-box;
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}



/* ==========================================================================
   1. HEADER
   ========================================================================== */

/* 1.1. NAME
   ========================================================================== */


.site-wrapper {
	max-width: 960px;
	margin: 0 auto;
}

header.main-header {
	height: auto;
	overflow: hidden;
}

.blog-name-box {
	text-transform: uppercase;
	max-width: 470px;
	border: 3px solid black;
	margin: 150px auto;
	margin-bottom: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	padding: 40px 0;
}

a.blog-name-link {
	color: initial;
	text-decoration: none;
}



/* 1.2. NAVIGATION
   ========================================================================== */

header.main-header .nav ul {
	padding: 0;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

header.main-header .nav ul li {
	list-style: none;
	display: inline-block;
}

header.main-header .nav ul li a {
	color: initial;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid white;	

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

header.main-header .nav ul li a:hover {
	border-bottom: 2px solid black;	
}

/* ==========================================================================
   2. POST
   ========================================================================== */

/* 2.1. GENERAL
   ========================================================================== */

.content article.post {
	margin-top: 60px;
	overflow: hidden;
}

.content article h2.post-title a,
.content article h1.post-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 42px;
	color: initial;
	text-decoration: none;
	display: block;

	-webkit-transition: color 0.1s ease-in;
	-moz-transition: color 0.1s ease-in;
	-ms-transition: color 0.1s ease-in;
	-o-transition: color 0.1s ease-in;
	transition: color 0.1s ease-in;
}

.content article .post-excerpt,
.content article .post-content {
	font-family: 'Bitter', sans-serif;
	font-size: 14pt;
	line-height: 28pt;
}

.content article .post-excerpt p a,
.content article .post-content p a {
	color: #3533DF;
	border-bottom: 1px solid;
	text-decoration: none;
}

.content article .post-excerpt mark,
.content article .post-content mark {
	background: #ffff80;
	padding: 3px;
}

code, tt {
   padding: 1px 3px;
   font-family: Inconsolata, monospace, sans-serif;
   font-size: 14pt;
   white-space: pre-wrap;
   border: #E3EDF3 1px solid;
   background: #F7FAFB;
   border-radius: 2px;
   -webkit-font-feature-settings: "liga" 0;
   -moz-font-feature-settings: "liga" 0;
   font-feature-settings: "liga" 0;
}

pre code, pre tt {
   font-size: inherit;
   white-space: pre-wrap;
   background: transparent;
   border: none;
   padding: 0;
}

pre {
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0 0 32px 0;
   border: #E3EDF3 1px solid;
   width: 100%;
   padding: 10px;
   font-family: Inconsolata, monospace, sans-serif;
   font-size: 18px;
   white-space: pre;
   overflow: auto;
   background: #F7FAFB;
   border-radius: 3px;
}

blockquote {
    margin: 0;
    padding: 0 0 0 32px;
    border-left: #4A4A4A 7px solid;
}

blockquote p {
    margin: 32px 0;
    font-style: italic;
}

.post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 30px 0;
    margin: 0 auto;
}

.post-meta {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 19px;
	color: #515151;
}

.post-meta a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #D6D6D6;

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.post-meta a:hover {
	border-bottom: 1px solid #515151;
}

.post-meta .bull {
	padding: 0 5px;
}


/* 2.2. SHORT
   ========================================================================== */

.content article h2.post-title a:hover {
	color: #235ed7;
}

.read-more {
	display: block;
	margin: 60px auto;
	border: 2px solid black;
	width: 200px;
	height: 50px;
	text-align: center;
	color: initial;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 5px;
	padding-left: 14px;
	padding-right: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.read-more:hover {
	padding-right: 12px;
}

.read-more:after {
	content: "\2794";
	opacity: 0;
	padding-left: 5px;
	font-size: 20px;
	display: inline-block;

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.read-more:hover:after {
	opacity: 1;
}

.post-divider {
	width: 100%;
	position: absolute;
	left: 0;
	height: 3px;
	background: url(../img/dot.png);
	background-repeat: repeat-x;
	opacity: 0.5;
}

.post-image {
	width: 100%;
	height: 500px;
	background-size: cover;
	margin-top: 35px;
	margin-bottom: 40px;
}

/* 2.3. LONG
   ========================================================================== */

h1.post-title {
	margin-top: 15px;
}

.share {
	text-align: center;
	margin-bottom: 50px;
}

.share h4 {
	font-family: 'Bitter', sans-serif;
}

.share .hidden {
	display: none;
}

.share a {
	color: initial;
	text-decoration: none;
	font-size: 30px;
	padding: 0 10px;
	color: #515151;
}

/* ==========================================================================
   3. FOOTER
   ========================================================================== */

/* 3.1. PAGINATION
   ========================================================================== */ 

nav.pagination {
	text-align: center;
	font-family: 'Bitter', sans-serif;
	margin: 50px auto;
	text-transform: uppercase;
}

.newer-posts,
.older-posts {
	color: initial;
	text-decoration: none;
	opacity: 0;
	cursor: default;
}

.newer-posts:before,
.older-posts:after {
	font-size: 30px;
	position: relative;
	top: -1px;
}

.newer-posts:before {
	content: "\2190";
}

.older-posts:after {
	content: "\2192";
}

nav.pagination .visible {
	opacity: 1;
	cursor: pointer;
	border-bottom: 2px solid white;

	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	-ms-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

nav.pagination .visible:hover {
	border-bottom: 2px solid black;	
}

.newer-posts {
	margin-right: 30px;
}

.older-posts {
	margin-left: 30px;
}

/* 3.2. MAIN FOOTER
   ========================================================================== */

footer.site-footer {
	text-align: center;
	padding: 50px 0;
	overflow: hidden;
	font-family: 'Bitter', sans-serif;
	text-transform: uppercase;
}

footer.site-footer a {
	color: initial;
	text-decoration: none;
	/* TODO: add hover */
}

footer .poweredby {
	font-size: 14px;
	margin-top: 7px;
}

footer .poweredby a {
	border-bottom: 1px solid #D6D6D6;
}


/* ==========================================================================
   4. TAG PAGE
   ========================================================================== */

.tag-name {
	text-align: center;
	font-size: 60px;
}

.tag-description {
	text-align: center;
	font-family: 'Bitter', sans-serif;
	font-size: 14pt;
}

/* ==========================================================================
   5. AUTHOR PAGE
   ========================================================================== */

.author-image {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.author-image .img {
	width: 200px;
	height: 200px;
	display: block;
	overflow: hidden;
	background-size: cover;
	border-radius: 50%;
	border: 2px solid black;
}

.author-title {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	text-align: center; 
	margin-top: 30px;
	margin-bottom: 20px;
}

.author-bio {
	font-family: 'Bitter', sans-serif;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
	font-size: 22px;
}

.author-meta {
	text-align: center;
}

.author-link a,
.author-meta .bull,
.author-location {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 17px;
	color: #4d4d4d;
	display: inline-block;
	margin: 25px 5px;
}

.author-link a {
	text-decoration: none;
	border-bottom: 2px solid #4d4d4d;	
}

.author-stats {
	width: 100%;
	text-align: center;
	display: block;
	clear: both;
	margin-top: 25px;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: black;
	font-size: 20px;
}
